@font-face {
    font-family: "Lato";
    src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/lato/latoregular.woff2") format('woff2'), url('../fonts/lato/latoregular.woff') format('woff'), url('../fonts/lato/latoregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
:root {
    --lato: "Lato",sans-serif;
    --nunito-sans:"Nunito Sans",sans-serif; 

    --accent: linear-gradient(90deg,#ff323f 0%,#FF37E4 100%);
    --light: #FFFFFF;
    --light-grey:#e9e9e9;

}
.main{
    color: var(--light);
    background-image:url(../images/bg-main.png) ;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
   font-size:16px ;
   font-family: var(--font-lato);
   background-color:#333 ;
}
a {
    text-decoration: none;
    color: inherit;
}
.container{
   width: 100% ;
   max-width: 1600px; 
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
   box-sizing: border-box;
}
.header {
display: flex;
justify-content: space-between;
align-items: center;
width: 100% ;
max-width: 1600px;
padding: 15px 25px;
box-sizing: border-box ;
background-color: var(--light);
border-radius: 16px; 
margin: 0 auto;

}
.logo {
    display: block;
    width:105px ;
    height: 30px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.nav {
    display: flex;
    gap: 40px;
    font-size:14px ;
    color: #333;
}
.btn-accent  {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 20px 18px;
    font-family: var(--font-nunito);  
    font-weight: 900;
    background: linear-gradient(90deg,#ff323f 0%,#FF37E4 100%);
    border-radius: 10px;
    color: #fff;
    width: fit-content;
}
.btn-accent::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-image:url(../images/btn-icon.svg) ;
    background-size: contain;
    width: fit-content;

}
.badge{
    display: flex;
    align-items: center;
    gap: 6px;
    padding:13px 15px ;
    border:1px solid var(--light) ;
    font-family: var(--font-nunito);
    font-size: 12px ;
    border-radius:8px ;
    width: fit-content;
}
.badge::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-image: url(../images/btn-icon.svg) ;
    background-size: contain;}
.text-small{
   margin: 0; 
   font-size: 12px; 
   font-family: var(--font-nunito);
   color: var(--light-grey);
}
/**hero**/
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-h1{
   font-family: var(--font-nunito);
   font-size:75px ;
   font-weight: 700;
   line-height:  1.2em; 
}
.title-h2{
  font-family: var(--font-nunito);
   font-size:75px ;
   font-weight: 700;
   line-height:  1.2em; 
}  

.description{
    color: var(--light-grey);
    line-height: 1.6;
}
.description-hero{
    max-width: 556;
}
.brands{
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap:30px 55px;
}
.brands .text-small{
    flex-basis: 100%;

}
.badge2{
    width: 137;
    height: 36;
    gap: 6px;
    
     
    border-radius: 8px;
    border-width: 1px;

}
.badge2::before {
    content: '';
    display: inline-block;
    
    width: 10px;
    height: 10px;
    background-image:url(../images/ICON.svg) ;
    background-size: contain;}
.container2{
       text-align: center; 
   
   
   max-width: 1500px; 
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
   box-sizing: border-box;
}